/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

/* Contenedor para el mensaje de bienvenida */
.welcome-message{
    font-weight: bold;
    color: #090643;
    font-size: medium;
}


/* Estilos para el popup */
.welcome-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Asegurarse de que esté por encima del resto del contenido */
    
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    
}

/* Estilo de la "X" para cerrar el popup */
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 28px;
    cursor: pointer;
    color: #333;
    
}

.close:hover {
    color: red; /* Cambiar de color al pasar el cursor por encima */
}


/* Estilos para el encabezado */
header {
    background-color: #090643;
    padding: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky; /* Hace que el header sea pegajoso */
    top: 0; /* Se adhiere a la parte superior cuando se hace scroll */
    z-index: 1000; /* Asegura que esté encima del contenido */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo {
    width: 150px;
    height: auto;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
    justify-content: center;
    padding-left: 0;
    margin: 0;
    position: relative;
    /*left: 1000px;*/
    flex-grow: 1; /* Ocupa el espacio disponible para centrar los enlaces */
    justify-content: center; /* Centra los enlaces del menú */
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #090643;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
    
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: white;
    color: #090643;
    display: flex;
    border-radius: 10px;
}
.cerrarSesion a:hover {
    background-color: rgb(255, 3, 3);
    color: white;
}
.dropdown:hover .dropdown-content {
    display: block;
}



/* Sección Hero Banner */
.hero-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
}


.banner-content {
    flex: 2;
}

.banner-content h1 {
    font-size: 2.5rem;
    color: #090643;
}

.banner-content p {
    font-size: 1.2rem;
    color: #666;
}

.btn-banner {
    background-color: #090643;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.2rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-banner:hover {
    background-color: white;
    color: #090643;
    border: solid;
    
}

.progreso-usuario {
    flex: 1;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.progreso-usuario h3 {
    font-size: 1.5rem;
    color: #090643;
}

.barra-progreso {
    background-color: #ddd;
    border-radius: 5px;
    margin: 10px 0;
    width: 100%;
    height: 15px;
}

.barra {
    background-color: #03fa6e;
    height: 100%;
    border-radius: 5px;
}

/* Sección Certificaciones */
.nuevas-certificaciones {
    padding: 40px;
}

.nuevas-certificaciones h2 {
    font-size: 2rem;
    color: #090643;
    margin-bottom: 20px;
    text-align: center;
}

.certificaciones-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    justify-items: center;
}

.certificacion {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.certificacion:hover {
    transform: scale(1.05);
}

.certificacion img {
    width: auto;
    height: 100px;
    margin-bottom: 10px;
    border-radius: 20px;
}

.certificacion h3 {
    font-size: 1.2rem;
    color: #090643;
}

/* Botón de comenzar curso */
.login-btn {
    text-decoration: none; /* Elimina el subrayado */
    color: white; /* Color del texto del botón */
    padding: 10px 25px;
    background-color: #090643;
    border: 2px solid #090643;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.login-btn:hover {
    background-color: white;
    color: #090643; /* Color azul oscuro al pasar el mouse */
    font-weight: bold;
    border: solid;
}

/* Footer */
footer {
    background-color: #090643;
    color: white;
    text-align: center;
    padding: 20px 0;
}
