/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

/* Estilos para el encabezado */

header {
    background-color: #090643;
    padding: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky; /* Hace que el header sea pegajoso */
    top: 0; /* Se adhiere a la parte superior cuando se hace scroll */
    z-index: 1000; /* Asegura que esté encima del contenido */
}

/* Estilos para la navegación */
nav {
    display: flex;
    justify-content: space-between; /* Distribuir espacio entre logo, menú y botón */
    align-items: center;
    width: 100%;
}

.logo {
    width: 150px;
    height: auto;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px; /* Espacio entre los enlaces */
    flex-grow: 1; /* Ocupa el espacio disponible para centrar los enlaces */
    justify-content: center; /* Centra los enlaces del menú */
    padding-left: 0; /* Elimina padding innecesario */
    margin: 0;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}


/* Contenedor de login */
.login-container {
    background-color: white;
    max-width: 400px;
    margin: 100px auto;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-container h1 {
    color: #090643;
    margin-bottom: 20px;
}

.login-container label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    color: #333;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.btn-login {
    width: 100%;
    padding: 10px 15px;
    background-color: #090643;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

a.btn-login {
    text-decoration: none; /* Elimina el subrayado */
    
}


.btn-login:hover {
    background-color: white;
    color: #090643;
    border: solid;
}

.registro {
    margin-top: 20px;
    color: #666;
}

.registro a {
    color: #090643;
    text-decoration: none;
    font-weight: bold;
    
}

.registro a:hover {
    text-decoration: underline;
}


/* Sección de CTA Final */
.cta-final {
    background-color: #090643;
    color: white;
    text-align: center;
    padding: 60px 20px;
    margin-top: 50px;
}

.cta-final h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.cta-final p {
    font-size: 1.2rem;
    margin-bottom: 40px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

/*Aceptar politica privacidad checkbox*/







/* Footer */
footer {
    background-color: #090643;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    justify-content: center; /* Centra el contenido del footer */
    align-items: center;
    padding: 20px;
    flex-wrap: wrap; /* Permite que el contenido se ajuste en filas si es necesario */
}

.footer-menu {
    margin-right: 50px; /* Espacio entre el menú y las redes sociales */
}

.footer-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px; /* Espacio entre los enlaces */
}

.footer-menu a {
    color: white;
    text-decoration: none;
}

.footer-social {
    display: flex;
    gap: 15px; /* Espacio entre los íconos de redes sociales */
}

.footer-social img {
    width: 24px; /* Ajusta el tamaño de los íconos */
    height: auto;
}
