/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

p{
    text-align: center;
}

h3{
    text-align: center;
}

/* Estilos para el encabezado */
header {
    background-color: #090643;
    padding: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky; /* Hace que el header sea pegajoso */
    top: 0; /* Se adhiere a la parte superior cuando se hace scroll */
    z-index: 1000; /* Asegura que esté encima del contenido */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo {
    width: 150px;
    height: auto;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
    justify-content: center;
    padding-left: 0;
    margin: 0;
    position: relative;
    /*left: 1000px;*/
    flex-grow: 1; /* Ocupa el espacio disponible para centrar los enlaces */
    justify-content: center; /* Centra los enlaces del menú */
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}


/* Botón de menú hamburguesa */
.menu-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 1001; /* Asegura que esté sobre otros elementos */
  }
  
  .menu-toggle span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #ffffff;
    margin: 5px 0;
    transition: 0.3s;
  }
  
  /* Para móviles: mostrar el menú hamburguesa */
  @media (max-width: 835px) {
    .menu-toggle {
      display: block;
    }
  
    .nav-links {
      display: none; /* Oculta el menú por defecto */
      flex-direction: column; /* Cambia a columna */
      background-color: #090643;
      position: absolute;
      top: 400%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 80%;
      padding: 20px;
      border-radius: 10px;
      text-align: center;
      z-index: 1000;
    }
  
    .nav-links.show {
      display: flex; /* Muestra el menú cuando se activa */
    }
  
    .nav-links li {
      margin: 10px 0;
    }
  
    .nav-links a,
    .nav-links .login-btn {
      color: #ffffff;
      text-decoration: none;
      font-size: 1.2rem;
      display: block;
    }
  
    .nav-links .login-btn {
      margin-top: 15px;
      background-color: #03fa6e;
      color: #090643;
      padding: 10px 20px;
      border-radius: 5px;
      font-weight: bold;
    }
  
    .nav-links .login-btn:hover {
      background-color: white;
    }

    .nav-links a:hover {
        color:  #02d25f;
    }
}



li a.cerrarSesion:hover{
    color: red;
}

/* Estilos base para el reproductor de video */
#cursoVideo {
    width: 100%; /* Ajusta el ancho al contenedor */
    height: auto; /* Mantiene la proporción del video */
    border-radius: 10px; /* Esquinas redondeadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para dar efecto de profundidad */
    margin-top: 20px;
}

/* Contenedor de los controles de video */
.video-controls {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding: 10px;
    background-color: #090643; /* Fondo oscuro para hacer que los botones destaquen */
    border-radius: 0 0 10px 10px; /* Esquinas redondeadas en la parte inferior */
}

.nav-btn {
    background-color: #090643; /* Color de botón principal */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s;
    border: solid 1px white;
}

.nav-btn:hover {
    background-color: #090643; /* Cambio de color en hover */
    color: #ffffff;
    transform: translateY(-2px); /* Efecto de elevación */
    
}

/* Contenedor de video y rúbrica */
.video-content {
    display: flex;
    flex-direction: column; /* Apila verticalmente en móviles */
    padding: 20px;
    gap: 20px;
}

.video-player {
    flex: 2;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Rúbrica de temas */
.course-outline {
    flex: 1;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    margin-top: 20px;
}

.course-outline h3 {
    color: #090643;
    font-size: 1.7rem;
    margin-bottom: 15px;
    font-weight: bold;
    text-align: center;
}

.course-outline ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.course-outline li {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #e0e0e0; /* Línea divisoria */
    transition: background-color 0.2s;
}

.course-outline li:hover {
    background-color: #f9f9f9; /* Color de fondo suave al pasar el mouse */
    border-bottom: 1px solid #02d15e; /* Línea divisoria */
}

.course-outline ul li a:hover {
    color: #090643;
}

.course-outline .circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #090643;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    font-size: 0.8rem;
    font-weight: bold;
    color: transparent; /* Oculta el símbolo al inicio */
    transition: background-color 0.3s, color 0.3s;
}

.course-outline .circle.completed {
    background-color: #03fa6e;
    color: #ffffff; /* Muestra el símbolo al completarse */
    font-size: 0.8rem;
}

.course-outline a {
    text-decoration: none;
    color: #090643;
    font-weight: 500;
    font-size: 1rem;
    flex-grow: 1;
    transition: color 0.3s;
}

.course-outline a:hover {
    color: #03fa6e;
    text-decoration: underline;
}

/* Estilo botones Archivos descargables */
.matDescargable {
    padding: 5px;
    border-radius: 20px;
    background-color: #ffffff;
    border: 1px solid #090643;
    margin: 0 auto;
    display: flex;
    justify-content: center; /* Alinea horizontalmente */
    align-items: center; /* Alinea verticalmente */
    margin-bottom: 10px;
    width: 100%; /* Ocupa todo el ancho en móviles */
}

.matDescargable:hover {
    background-color: #ffffff;
    border: 1px solid #03fa6e;
    color: #090643;
}

/* Botón Hacer Examen */
.exam-btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #090643;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: not-allowed;
    transition: background-color 0.3s;
}

.exam-btn.enabled {
    cursor: pointer;
    background-color: #02d15e;
}

.exam-btn.enabled:hover {
    background-color: #02b14b;
}

/* Media Queries para diseño responsive */
@media (min-width: 768px) {
    .video-content {
        flex-direction: row; /* Coloca el video y la rúbrica uno al lado del otro en pantallas grandes */
    }

    .matDescargable {
        width: auto; /* Restaura el ancho automático en pantallas grandes */
    }
}
/* Footer */
footer {
    background-color: #090643;
    color: white;
    text-align: center;
    padding: 20px;
}
